configuration {
	color-window: "#FF292D3E, #FF292D3E, #FF292D3E";
	color-normal: "#292D3E, #959DCB, #292D3E, #82AAFF, #292D3E";
	color-active: "#292D3E, #959DCB, #292D3E, #C3E88D, #292D3E";
	color-urgent: "#292D3E, #959DCB, #292D3E, #FF5370, #292D3E";
	font: "Monospace 30";
	kb-row-select: "Tab";
	kb-row-tab: "";
	separator-style: "none";
	bw: 0;
	modi: "run,window,windowcd,ssh,drun,combi,keys";
}
