* {
	background-color: #292D3E;
	text-color: #959DCB;
	highlight: bold #F07178;
}
element selected {
	text-color: #C3E88D;
}
* {
	background-color: #292D3E;
	text-color: #959DCB;
	highlight: bold #FFFFFF;
}
element selected {
	background-color: #82AAFF;
	text-color: #292D3E;
	highlight: bold #32374D;
}
