#define BACKGROUND #263238
#define WHITE #FFFFFF
#define GRAY #37474F
#define RED #FF5370
#define GREEN #C3E88D
#define YELLOW #FFCB6B
#define BLUE #82AAFF
#define PURPLE #C792EA
#define TEAL #80CBC4
#define LIGHTGRAY #DCEBF1

URxvt.font: xft:Monospace:size=9, xft:PowerlineSymbols:size=9, xft:dejavusansmono\ for\ powerline:size=9   
URxvt.scrollBar: false
URxvt.letterSpace: 1
URxvt.intensityStyles: false

*cursorColor: #93a1a1
*pointerColorBackground: #586e75
*pointerColorForeground: #93a1a1

*background: BACKGROUND
*foreground: WHITE

!_____
*color0:  GRAY
*color8:  GRAY
!Error highlighting in vim
*color1:  RED
*color9:  RED
!Username and executables
*color2:  GREEN
*color10: GREEN
!_____
*color3:  YELLOW
*color11: YELLOW
!Shell and folders
*color4:  BLUE
*color12: BLUE
!_____
*color5:  PURPLE
*color13: PURPLE
!Symlinks
*color6:  TEAL
*color14: TEAL
!_____
*color7:  LIGHTGRAY
*color15: LIGHTGRAY


!URxvt*depth: 32
!URxvt*background: rgba:2600/3200/3800/cc00


URxvt.perl-ext-common: default,clipboard,font-size
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt*iso14755: False
URxvt.keysym.Control-Up:     \033[1;5A
URxvt.keysym.Control-Down:   \033[1;5B
URxvt.keysym.Control-Left:   \033[1;5D
URxvt.keysym.Control-Right:  \033[1;5C
rofi.color-enabled: true
!                  bg					 border			separator
rofi.color-window: BACKGROUND, BLUE,			BLUE
!                  bg		   fg     bg-alt	  hl-bg	  hl-fg
rofi.color-normal: BACKGROUND, WHITE, BACKGROUND, BLUE,   BACKGROUND
rofi.color-active: BACKGROUND, WHITE, BACKGROUND, GREEN,  BACKGROUND
rofi.color-urgent: BACKGROUND, WHITE, BACKGROUND, RED,    BACKGROUND

rofi.font: Monospace 30
rofi.lines: 1
rofi.kb-row-select: Tab
rofi.kb-row-tab: 
rofi.separator-style: none
rofi.columns: 9
rofi.bw: 0
rofi.modi: run
rofi.location: 1
rofi.width: 100


URxvt.termName: xterm-256color


