#!/usr/bin/env zsh
alias rsc='source ~/.zshrc'
alias cclip='xclip -sel clip'
alias clipdir='echo -n $PWD | cclip'
alias hclip='clip $(fc -ln -1)'
alias renet='sudo systemctl restart NetworkManager'

alias s='sudo '
alias su='su -p'
alias srm='sudo rm'
alias sv='sudo -E $EDITOR'
alias sp='sudo pacman'
alias v='$EDITOR'
alias vi='$EDITOR'
alias vim='$EDITOR'
alias yt=youtube-dl
alias o='$OPENER'

alias cfi3='$EDITOR ~/.config/i3/config'
alias cfi3blocks='$EDITOR ~/.config/i3blocks/config'
alias cfaliases='$EDITOR $ZDOTDIR/.aliases'
alias cffunctions='$EDITOR $ZDOTDIR/.functions'
alias cfnvim='$EDITOR ~/.config/nvim/init.vim'
alias cfzsh='$EDITOR $ZDOTDIR/.zshrc'
alias cfprofile='$EDITOR ~/.profile'
alias cfmpv='$EDITOR ~/.config/mpv/mpv.conf'
alias cfdunst='$EDITOR ~/.config/dunst/dunstrc'
alias cfalacritty='$EDITOR ~/.config/alacritty/alacritty.yml'
alias cflf='$EDITOR ~/.config/lf/lfrc'
alias cfdocs='$EDITOR ~/.data/docs'
alias cfpicom='$EDITOR ~/.config/picom/picom.conf'

alias nvenv='virtualenv env && venv && pip install pylint autopep8'
alias venv='source ./env/bin/activate'
alias uenv='deactivate'

alias ocean='play -nq synth brownnoise synth pinknoise mix synth 0 0 0 10 10 40 trapezium amod 0.1 30'

alias slf='sudo lf'
alias -g '***=**/*(.)'
alias -g '*!=$(fd -t f | fzf)'
alias -g '*@=$(fd -t d | fzf)'
alias cx='chmod +x'
alias co='code .'
alias irg='rg -i'
alias sxiv='sxiv -p'

alias ncdu='ncdu --color dark'

alias x='exa'
alias xa='exa -a'
alias xl='exa -lh'
alias xx='exa -lah'

alias udb='sudo updatedb'

alias shit='mountpoint ~/shit &>> /dev/null || encfs ~/.shit ~/shit'
alias ushit='mountpoint ~/shit &>> /dev/null && fusermount -u ~/shit'

alias lines='nl -w2 -s": "'

alias ls='echo use x instead'
alias la='echo use xa instead'
alias lh='echo use xl instead'
alias ll='echo use xl instead'
alias l='echo use xx instead'

alias ac='aria2c'

alias h='~/builds/habitctl/target/release/habitctl'
