*foreground:        #959DCB  
*background:        #292D3E  
*color0:            #292D3E  
*color1:            #F07178  
*color2:            #C3E88D  
*color3:            #FFCB6B  
*color4:            #82AAFF  
*color5:            #C792EA  
*color6:            #89DDFF  
*color7:            #959DCB  
*color8:            #676E95  
*color9:            #F07178  
*color10:           #C3E88D  
*color11:           #FFCB6B  
*color12:           #82AAFF  
*color13:           #C792EA  
*color14:           #89DDFF  
*color15:           #FFFFFF  

dmenu.background:     #292D3E  
dmenu.foreground:     #959DCB  
dmenu.selbackground:  #82AAFF  
dmenu.selforeground:  #292D3E  
dmenu.font:           mono-10
